:root {

}
#ExclamationSignal {
	width: 100%;
	height: 100%;
	background-image: url("project://database/Assets/Huds/Designs/Exclamation Signal.png");
	-unity-background-scale-mode: scale-to-fit;
}
